.StudentPage{
    overflow-y:scroll;
    height: 85%;
    position:fixed;
    top: 7.5%;
    width: 60%;
    background-color: white;
    border-radius: 5px;
    margin-left: 20%;
    overflow-x: hidden;
}

.nameSearchBar{
    width: 100%;
    height: 50px;
}
.tagSearchBar{
    width: 100%;
    height: 50px;
}
#nameBar{
    width: 60%;
    border-style: hidden;
    border-bottom: 1px grey solid;
    position: fixed;
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#tagBar{
    width: 60%;
    border-style: hidden;
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
    position: fixed;
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
